* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 1500px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 50px;
  background-color: #13458c;
}
header .search {
  width: 500px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
header .search i {
  color: #ccc;
  font-size: 130%;
}
header .search span {
  color: #ccc;
  font-size: 90%;
  vertical-align: 4px;
  padding-left: 7px;
}
header .top-btn {
  float: right;
}
header .top-btn .btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #60C9FF;
  border-radius: 200px;
  text-decoration: none;
  color: #fff;
  font-size: 70%;
  text-transform: uppercase;
  margin-top: 11.5px;
}
header .top-btn .logout {
  background-color: #0d2f5f;
}
nav {
  float: left;
  width: 200px;
  height: 100vh;
  background-color: #314048;
}
nav ul {
  height: 100%;
  margin: 0 auto;
}
nav ul li {
  width: auto;
  padding: 15px 0;
  padding-left: 45px;
}
nav ul li a {
  font-size: 85%;
  color: #d3d3d3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
nav ul i {
  font-size: 95%;
  color: #d3d3d3;
  padding-right: 5px;
}
nav li:hover {
  background-color: #1c252a;
}
nav li:hover a {
  color: #fff;
}
nav li:hover i {
  color: #fff;
}
.main-contents {
  width: 900px;
  float: left;
  height: 100vh;
}
.main-contents h2 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 115%;
}
.main-contents .date {
  margin-top: 10px;
}
.main-contents .date .select_date {
  text-align: center;
}
.main-contents .date .select_date i {
  font-size: 130%;
  vertical-align: -4px;
  padding-right: 7px;
}
.main-contents .date .select_date span {
  font-size: 100%;
  vertical-align: middle;
}
.main-contents .date_bar {
  width: 100%;
  background-color: #c9ddf5;
  height: 30px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
.main-contents .date_bar ul li {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  padding-left: 40px;
  font-size: 85%;
}
.main-contents .date_bar ul li i {
  color: #fff;
}
.main-contents .expense_icon_collection ul {
  margin-top: 10px;
  text-align: center;
}
.main-contents .expense_icon_collection ul li {
  display: inline-block;
  margin: 0 30px;
  padding: 0 10px;
}
.main-contents .expense_icon_collection ul li .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.main-contents .expense_icon_collection ul li .eati {
  background-image: url(../image/eat.png);
}
.main-contents .expense_icon_collection ul li .takei {
  background-image: url(../image/take.png);
}
.main-contents .expense_icon_collection ul li .seei {
  background-image: url(../image/see.png);
}
.main-contents .expense_icon_collection ul li .shopi {
  background-image: url(../image/shop.png);
}
.main-contents .expense_icon_collection ul li .sleepi {
  background-image: url(../image/sleep.png);
}
.main-contents .expense_icon_collection ul li .etci {
  background-image: url(../image/etc.png);
}
.main-contents .expense_icon_collection ul li .description {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #c4c4c4;
  font-weight: 600;
  position: relative;
  top: -2px;
}
.main-contents .expense_icon_collection ul li.on {
  border: 4px #c9dbf2 solid;
  border-radius: 10px;
}
.main-contents .expense_icon_collection ul li.on .description {
  color: #000;
}
.main-contents .expenses__list {
  margin-top: 15px;
  float: left;
  width: 440px;
  height: 450px;
  background-color: #edf0f2;
  padding: 20px 60px;
  font-size: 120%;
  overflow-y: scroll;
}
.main-contents .expenses__list .item {
  margin-top: 15px;
}
.main-contents .expenses__list .item img {
  width: 26px;
  height: 26px;
  float: left;
  padding-right: 15px;
}
.main-contents .expenses__list .item .item_description {
  float: left;
}
.main-contents .expenses__list .item .right {
  float: right;
}
.main-contents .expenses__list .item .right .item__value {
  float: left;
  transition: transform 0.3s;
  color: #000;
}
.main-contents .expenses__list .item .right .item__delete {
  float: left;
}
.main-contents .expenses__list .item .right .item__delete .item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}
.main-contents .expenses__list .item:hover .right .item__delete--btn {
  display: block;
  color: #2472e1;
}
.main-contents .expenses__list .item:hover .right .item__value {
  transform: translateX(-20px);
}
.main-contents .take {
  display: none;
}
.main-contents .see {
  display: none;
}
.main-contents .shop {
  display: none;
}
.main-contents .sleep {
  display: none;
}
.main-contents .etc {
  display: none;
}
.main-contents .calculator {
  background-color: #e5e5e5;
  width: 300px;
  height: 450px;
  float: right;
  margin-top: 15px;
  padding: 20px 10px;
  position: relative;
  z-index: 1;
}
.main-contents .calculator .select_icon {
  padding-bottom: 10px;
}
.main-contents .calculator .select_icon .add_type {
  float: left;
  font-family: inherit;
}
.main-contents .calculator .select_icon .right {
  float: right;
}
.main-contents .calculator .select_icon .right span {
  font-size: 70%;
  vertical-align: 2px;
}
.main-contents .calculator .calculate_value {
  width: 100%;
  height: 70px;
  background-color: #fff;
  text-align: center;
}
.main-contents .calculator .calculate_value #display {
  width: 100%;
  height: 70px;
  background-color: #fff;
  text-align: left;
  text-indent: 10px;
  font-family: inherit;
  font-size: 120%;
  border: none;
}
.main-contents .calculator .title {
  width: 100%;
  margin-top: 10px;
}
.main-contents .calculator .title input {
  width: 100%;
  height: 35px;
  background-color: #fff;
  border: none;
  font-family: inherit;
  font-size: 100%;
  text-align: center;
}
.main-contents .calculator .keys {
  width: 100%;
  border: 1px #d3d3d3 solid;
  margin-top: 10px;
  box-sizing: border-box;
  border-left: none;
  border-bottom: none;
}
.main-contents .calculator .keys button {
  font-size: 90%;
  float: left;
  width: 25%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  border-left: 1px #d3d3d3 solid;
  border-bottom: 1px #d3d3d3 solid;
  border-right: none;
  border-top: none;
  background: none;
  background-color: #fff;
}
.main-contents .calculator .keys button:focus {
  outline: none;
}
.main-contents .calculator .keys .clear {
  width: 37.5%;
}
.main-contents .calculator .keys .backspace {
  width: 37.5%;
}
.main-contents .calculator .keys .change_sign {
  width: 25%;
}
.main-contents .calculator .add__btn {
  width: 100%;
  height: 50px;
  background-color: #8CD067;
  margin-top: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 130%;
  border: none;
  display: block;
}
.main-contents .calculator .add__btn:focus {
  outline: none;
}
.main-contents .calculator .add__btn span {
  color: #fff;
  font-size: 85%;
  vertical-align: top;
}
.main-contents .calculator .add__btn i {
  font-weight: 400;
  color: #fff;
}
.main-contents .totalall__expenses .total__expenses {
  margin-top: 30px;
}
.main-contents .totalall__expenses .total__expenses .total__expenses--title {
  float: left;
  margin-right: 50px;
}
.main-contents .totalall__expenses .total__expenses .right .total__expenses--value {
  float: left;
}
.main-contents .totalall__expenses .card__expenses {
  margin-top: 30px;
  float: left;
}
.main-contents .totalall__expenses .card__expenses .card__expenses--title {
  margin-right: 50px;
}
.main-contents .totalall__expenses .cash__expenses {
  margin-top: 30px;
  float: left;
}
.main-contents .totalall__expenses .cash__expenses .cash__expenses--title {
  margin-right: 50px;
}
.main-contents .totalall__expenses .cash__expenses .right .cash__expenses--value {
  float: left;
}
.main-contents .takeTotal {
  display: none;
}
.main-contents .seeTotal {
  display: none;
}
.main-contents .shopTotal {
  display: none;
}
.main-contents .etcTotal {
  display: none;
}
.main-contents .sleepTotal {
  display: none;
}
.main-contents .travel_expenses .travel__expenses--title {
  float: left;
  margin-right: 50px;
}
.main-contents .travel_expenses .travel__expenses--value {
  float: left;
}
.chart {
  float: left;
  width: 330px;
}
.chart #donutchart {
  position: relative;
  left: -50px;
}
.chart .table {
  padding-left: 20px;
  width: 310px;
  position: relative;
  top: -20px;
}
.chart .table ul li {
  padding-bottom: 15px;
}
.chart .table ul li .item {
  float: left;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-right: 5px;
}
.chart .table ul li .price {
  float: right;
  padding-right: 50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-left: 5px;
}
.chart .table ul li .line {
  display: block;
  clear: both;
  position: relative;
  border-top: 1px #ccc solid;
  top: -10px;
}
.chart #piechart {
  position: relative;
  left: -50px;
}
.chart .table2 {
  padding-left: 20px;
  width: 310px;
  position: relative;
  top: -20px;
}
.chart .table2 ul li {
  padding-bottom: 15px;
}
.chart .table2 ul li .payment {
  float: left;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-right: 5px;
}
.chart .table2 ul li .using {
  float: right;
  padding-right: 50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-left: 5px;
}
.chart .table2 ul li .line {
  display: block;
  clear: both;
  position: relative;
  border-top: 1px #ccc solid;
  top: -10px;
}
.chart .table2 ul li .travel__expenses--title {
  float: left;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-right: 5px;
}
.chart .table2 ul li .travel__expenses--value {
  float: right;
  padding-right: 50px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-left: 5px;
}
